<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions ="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="./Logs"/>
  <variable name="archiveDirectory" value="./Logs/Archive"/>

  <!-- the targets to write to -->
  <targets>

    <!-- write logs to file  -->
    <target name="allfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
        fileName="${logDirectory}/all.log"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        autoFlush="false"
        layout="${longdate}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message} ${exception:format=tostring}"
        archiveFileName="${archiveDirectory}/{#}-all.log"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        archiveEvery="Day"
        maxArchiveFiles="30" />
    </target>

    <target name="sqlfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
        fileName="${logDirectory}/sql.log"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        autoFlush="false"
        layout="${longdate}|${message}"
        archiveFileName="${archiveDirectory}/{#}-sql.log"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        archiveEvery="Day"
        maxArchiveFiles="30"/>
    </target>

    <target name="eventAggregator" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
        fileName="${logDirectory}/event-aggregator.log"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        autoFlush="false"
        layout="${longdate}|${message}"
        archiveFileName="${archiveDirectory}/{#}-event-aggregator.log"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        archiveEvery="Day"
        maxArchiveFiles="30"/>
    </target>

    <target name="missionfile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
        keepFileOpen="true"
        openFileCacheTimeout="30"
        autoFlush="false"
        fileName="${logDirectory}/mission.log"
        layout="${longdate}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message}"
        archiveFileName="${archiveDirectory}/{#}-mission.log"
        archiveNumbering="Date"
        archiveDateFormat="yyyy-MM-dd"
        archiveEvery="Day"
        maxArchiveFiles="30"/>
    </target>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
      name="ownFile-web"
      fileName="${logDirectory}/own.log"
      layout="${longdate}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message}"
      archiveFileName="${archiveDirectory}/{#}-own.log"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      archiveEvery="Day"
      maxArchiveFiles="30"/>

    <target name="ErrorLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/errors.log"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            autoFlush="false"
            layout="${longdate}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
            archiveFileName="${archiveDirectory}/{#}-errors.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Ferretto.VW.MAS.AutomationService.*" minlevel="Trace" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.MissionManager.*" minlevel="Trace" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.MachineManager.*" minlevel="Trace" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.Utils.*" minlevel="Trace" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.DataLayer.LogEntriesProvider" minlevel="Trace" writeTo="eventAggregator" />
    <logger name="Ferretto.VW.MAS.AutomationService.Program" minlevel="Trace" writeTo="allfile, missionfile, eventAggregator" />
    <logger name="Ferretto.VW.MAS.DeviceManager.*" minlevel="Trace" writeTo="allfile" />
    <logger name="Ferretto.VW.MAS.InverterDriver.*" minlevel="Trace" writeTo="allfile" />
    <logger name="Ferretto.VW.MAS.IODriver.*" minlevel="Trace" writeTo="allfile" />
    <logger name="Ferretto.VW.MAS.DataLayer.DatabaseContext.DataLayerContext" minlevel="Trace" writeTo="sqlfile" />
    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
  </rules>
</nlog>
