<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions ="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="./Logs"/>
  <variable name="archiveDirectory" value="./Logs/Archive"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <default-target-parameters
      xsi:type="File"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      autoFlush="false"
      archiveNumbering="DateAndSequence"
      archiveDateFormat="yyyy-MM-dd"
      archiveEvery="Day"
      maxArchiveFiles="30" 
      archiveAboveSize ="100000000" />

    <target
      name="allfile"
      xsi:type="File"
      fileName="${logDirectory}/vw-mas-all.log"
      layout="${longdate}|${level:padding=-5}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message} ${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-all.log"/>

    <target
      name="sql-commands"
      xsi:type="File"
      fileName="${logDirectory}/vw-mas-sql-commands.log"
      layout="${longdate}|${message}"
      archiveFileName="${archiveDirectory}/{#}-sql-commands.log"/>

    <target
      name="event-aggregator"
      xsi:type="File"
      fileName="${logDirectory}/vw-mas-event-aggregator.log"
      layout="${longdate}|${message}"
      archiveFileName="${archiveDirectory}/{#}-event-aggregator.log" />

    <target
      name="missionfile"
      xsi:type="File"
      fileName="${logDirectory}/vw-mas-missions.log"
      layout="${longdate}|${level:padding=-5}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message}"
      archiveFileName="${archiveDirectory}/{#}-mission.log" />

    <target
      name="ErrorLogFile"
      xsi:type="File"
      fileName="${logDirectory}/vw-mas-errors.log"
      layout="${longdate}|${level:padding=-5}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-errors.log" />

  </targets>

  <rules>
    <!-- Final rules first -->
    <logger name="*.LogEntriesProvider" writeTo="event-aggregator" final="true" />
    <logger name="*.DataLayerContext" writeTo="sql-commands" final="true" />

    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />

    <logger name="Ferretto.*" writeTo="allfile" />
    <logger name="Ferretto.VW.MAS.AutomationService.*" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.MissionManager.*" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.MachineManager.*" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.Utils.*" writeTo="missionfile" />
    <logger name="Ferretto.VW.MAS.AutomationService.Program" writeTo="allfile, sql-commands, missionfile, event-aggregator" />

  </rules>
</nlog>
