<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
      <add key="enabled" value="True" />
      <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  <add key="ferretto" value="https://nuget.ferrettogroup.com/nuget" />
      <add key="devexpress" value="https://nuget.devexpress.com/Kcda8XxxH8yQzn4vxlFUm5QCxwiv8YCQW121Hal9cLUvFu3AIi/api" />
	</packageSources>
    <config>
      <add key="repositoryPath" value="./packages" />
    </config>
</configuration>
