<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
      <add name="WmsConnectionString"
            connectionString="data source=172.16.199.100\SQLEXPRESS; initial catalog=Ferretto_WmsDb_Production; Connection Timeout=30; User ID=wms;Password=Ferretto2018!;"
            providerName="System.Data.SqlClient"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultLanguage"
         value="it"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="DataServiceEndpoint"
         value="https://172.16.199.100:6201"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="SchedulerServiceEndpoint"
         value="https://172.16.199.100:6201"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
