<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DefaultLanguage"
         value="it"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="DataService:Url"
         value="https://server_rd.ferrettogroup.com:6001"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
