<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DefaultLanguage"
         value="it"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="DataServiceEndpoint"
         value="http://172.16.199.100:6000"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
    <add key="NotificationHubEndpoint"
         value="http://172.16.199.100:6000"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
