<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="./Logs"/>
  <variable name="archiveDirectory" value="./Logs/Archive"/>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <default-target-parameters
      xsi:type="File"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      autoFlush="false"
      archiveNumbering="DateAndSequence"
      archiveDateFormat="yyyy-MM-dd"
      archiveEvery="Day"
      maxArchiveFiles="30"
      archiveAboveSize ="100000000" />

    <target
      name="MainLogFile"
      xsi:type="File"
      fileName="${logDirectory}/vw-telemetry.log"
      archiveFileName="${archiveDirectory}/{#}-VW-Telemetry.log" />

    <target
      name="ErrorLogFile"
      xsi:type="File"
      fileName="${logDirectory}/vw-telemetry-errors.log"
      layout="${longdate}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-VW-Telemetry-Error.log"/>

    <target
      name="Debugger"
      xsi:type="Debugger"
      layout="[${longdate}][${level:padding=-5}] ${message:padding=-70} [${logger}]" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="MainLogFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
    <logger name="*" minlevel="Debug" writeTo="Debugger" />
  </rules>
</nlog>
