<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="BayNumber" value="1" />
    <add key="OverrideSetupStatus" value="true" />
    <add key="Language" value="it-IT" />
    <add key="Devices:LabelPrinter" value="" />
    <add key="AutomationService:Url" value="http://localhost:5000" />
    <add key="AutomationService:HealthChecks:Live:Path" value="/health/live" />
    <add key="AutomationService:HealthChecks:Ready:Path" value="/health/ready" />
    <add key="AutomationService:HealthChecks:LogoutWhenUnhealthy" value="True" />
    <add key="AutomationService:Hubs:Installation:Path" value="/installation-endpoint" />
    <add key="AutomationService:Hubs:Operator:Path" value="/operator-endpoint" />
    <add key="MAS:Service:Name" value="Ferretto_VW_MAS"/>
    <add key="TelemetryService:Hubs:Path" value="http://localhost:5050/telemetry" />    
    <add key="TelemetryService:Url" value="http://localhost:5050" />
    <add key="TS:Service:Name" value="Ferretto_VW_TS"/>

    <add key="Installer:Snapshot:FileName" value="steps-snapshot.json" />
    <add key="Update:Repository:Path" value="F:\Update"/>

      <add key="Update:Exchange:Temp" value="F:\Update\Temp" />
    <add key="Update:Exchange:Installer:Path" value="Installer" />
    <add key="Update:Exchange:Installer:Name" value="Ferretto.VW.installer.exe" />
    <add key="Update:Zip:Checksum:FileName" value="md5-checksums" />
    <add key="Workaround:UseOldTrueTableForShutter" value="false" />
    <add key="FullScreen" value="false" />
    <add key="SupportProgram" value="F:\TeamViewerQS" />
    <add key="InverterParameters:Repository:Path" value="F:\Update" />
  </appSettings>
  <modules>
    <module assemblyFile="Ferretto.VW.App.Modules.Layout.dll"
      moduleType="Ferretto.VW.App.Modules.Layout.LayoutModule, Ferretto.VW.App.Modules.Layout, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Layout"
      startupLoaded="false" >
    </module>
    <module assemblyFile="Ferretto.VW.App.Modules.Login.dll"
      moduleType="Ferretto.VW.App.Modules.Login.LoginModule, Ferretto.VW.App.Modules.Login, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Login"
      startupLoaded="false" >
    </module>
    <module assemblyFile="Ferretto.VW.App.Module.Installation.dll"
      moduleType="Ferretto.VW.App.Modules.Installation.InstallationAppModule, Ferretto.VW.App.Modules.Installation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Installation"
      startupLoaded="false">
      <dependencies>
        <dependency moduleName="Errors"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.VW.App.Modules.Operator.dll"
      moduleType="Ferretto.VW.App.Modules.Operator.OperatorAppModule, Ferretto.VW.App.Modules.Operator, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Operator"
      startupLoaded="false">
      <dependencies>
        <dependency moduleName="Errors"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.VW.App.Modules.Errors.dll"
      moduleType="Ferretto.VW.App.Modules.Errors.ErrorsModule, Ferretto.VW.App.Modules.Errors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Errors"
      startupLoaded="false">
    </module>
    <module assemblyFile="Ferretto.VW.App.Module.Menu.dll"
      moduleType="Ferretto.VW.App.Modules.Menu.MenuModule, Ferretto.VW.App.Modules.Menu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
      moduleName="Menu"
      startupLoaded="false">
      <dependencies>
        <dependency moduleName="Errors"/>
        <dependency moduleName="Operator"/>
        <dependency moduleName="Installation"/>
      </dependencies>
    </module>
  </modules>
</configuration>
