<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Logs"/>
  <targets>
    <target name="MainLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}-WMS-Application.log"
            keepFileOpen="true"
            archiveAboveSize="1048576"
            openFileCacheTimeout="30"
            autoFlush="false" />
    </target>
    <target name="ErrorLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}-WMS-Application-Error.log"
            keepFileOpen="true"
            archiveAboveSize="1048576"
            openFileCacheTimeout="30"
            autoFlush="false"
            layout="${longdate}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}" />
    </target>
    <target name="Debugger" xsi:type="Debugger" layout="[${longdate}] ${message:padding=-70} [${level:padding=-5}][${logger}]" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MainLogFile" />
    <logger name="*" minlevel="Trace" writeTo="Debugger" />
    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
  </rules>
</nlog>
