<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="./Logs"/>
  <variable name="archiveDirectory" value="./Logs/Archive"/>
  <targets>
    <target name="MainLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/VW-Application.log"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            autoFlush="false"
            archiveFileName="${archiveDirectory}/{#}-VW-Application.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    </target>
    <target name="ErrorLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/VW-Application-Error.log"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            autoFlush="false"
            layout="${longdate}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
            archiveFileName="${archiveDirectory}/{#}-VW-Application-Error.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyy-MM-dd"
            archiveEvery="Day"
            maxArchiveFiles="30"/>
    </target>
    <target name="Debugger" xsi:type="Debugger" layout="[${longdate}] ${message:padding=-70} [${level:padding=-5}][${logger}]" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MainLogFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
    <logger name="*" minlevel="Debug" writeTo="Debugger" />
  </rules>
</nlog>
