<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="DefaultLanguage" value="en"/>
    <add key="SchedulerServiceEndpoint" value="https://localhost:5001"/>
    <add key="DataServiceEndpoint" value="https://localhost:6001"/>
    <add key="NotificationHubEndpoint" value="https://localhost:5001"/>
    <add key="SchedulerHubPath" value="scheduler"/>
    <add key="ImagesPath" value="Images/"/>
    <add key="ImagesDefaultPixelMax" value="600"/>
    <add key="DefaultListPageSize" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="WmsConnectionString" connectionString="data source=.\SQLEXPRESS; initial catalog=Ferretto_WmsDb_Development; integrated security=SSPI;Connection Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <modules>
    <module assemblyFile="Ferretto.WMS.App.Modules.BLL.dll" moduleType="Ferretto.WMS.App.Modules.BLL.BusinessLogicModule, Ferretto.WMS.App.Modules.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BusinessLogic" startupLoaded="false"/>
    <module assemblyFile="Ferretto.WMS.App.Modules.Layout.dll" moduleType="Ferretto.WMS.Modules.Layout.LayoutModule, Ferretto.WMS.App.Modules.Layout, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Layout" startupLoaded="false">
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.WMS.App.Modules.Machines.dll" moduleType="Ferretto.WMS.Modules.Machines.MachinesModule, Ferretto.WMS.App.Modules.Machines, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Machines" startupLoaded="false">
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.WMS.App.Modules.MasterData.dll" moduleType="Ferretto.WMS.Modules.MasterData.MasterDataModule, Ferretto.WMS.App.Modules.MasterData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MasterData" startupLoaded="false">
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.WMS.App.Modules.Scheduler.dll" moduleType="Ferretto.WMS.Modules.Scheduler.SchedulerModule, Ferretto.WMS.App.Modules.Scheduler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Scheduler" startupLoaded="false">
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
  </modules>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
