<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="MAS:BaseUrl" value="http://localhost:5000"/>
    <add key="MAS:ServiceName" value="Ferretto Machine Automation Service"/>
    <add key="PPC:Registry:Path" value="HKCU:\Software\Microsoft\Windows\CurrentVersion\Run"/>
    <add key="PPC:Registry:Key" value="FerrettoApp"/>
    <add key="Install:Root:Path" value="C:\Users\Alessandro\Desktop\VMag_Setup"/>
    <add key="Install:PPC:Path" value="panelpc_app"/>
    <add key="Install:PPC:FilePath" value="panelpc_app\Ferretto.VW.App.exe"/>
    <add key="Install:Package:Path" value="C:\Users\Alessandro\Desktop\VMag_Setup.exe"/>
    <add key="Install:Installer:FilePath" value="installer\Ferretto.VW.Installer.exe"/>
    <add key="Install:MAS:Path" value="automation_service"/>
    <add key="Backup:Root:Path" value="C:\Users\Alessandro\Desktop\Backup"/>
  </appSettings>
</configuration>
