<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="MAS:BaseUrl" value="http://localhost:5000"/>
    <add key="MAS:ServiceName" value="Ferretto Machine Automation Service"/>
    <add key="UpdateFilePath" value="C:\Users\Alessandro\Desktop\VMag_Setup.exe"/>
    <add key="Installation:Root:Path" value="C:\Users\Alessandro\Desktop\VMag_Setup"/>
    <add key="Backup:Root:Path" value="C:\Users\Alessandro\Desktop\Backup"/>
    <add key="Installation:MAS:Path" value="automation_service"/>
    <add key="Installation:PPC:Path" value="panel_pc"/>
  </appSettings>
</configuration>
