<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="MAS:DirName" value="automation_service"/>
    <add key="MAS:FileName" value="Ferretto.VW.MAS.AutomationService.exe" />
    <add key="MAS:BaseUrl" value="http://192.168.0.10:5000"/>
    <add key="MAS:Service:Name" value="Ferretto_VW_MAS"/>
    <add key="MAS:Service:DisplayName" value="Ferretto automation service"/>
    <add key="MAS:Service:Description" value="Vertimag machine automation service"/>
    
    <add key="TS:DirName" value="telemetry_service"/>
    <add key="TS:FileName" value="Ferretto.VW.TelemetryService.exe" />
    <add key="TS:Database:Root" value="F:\Database"/>
    <add key="TS:DatabaseFolder" value="Telemetry"/>
    <add key="TS:BaseUrl" value="http://192.168.0.10:5060"/>
    <add key="TS:Service:Name" value="Ferretto_VW_TS"/>
    <add key="TS:Service:DisplayName" value="Ferretto telemetry service"/>
    <add key="TS:Service:Description" value="Vertimag machine telemetry service"/>
    
    <add key="PPC:DirName" value="panelpc_app"/>
    <add key="PPC:FileName" value="Ferretto.VW.App.exe"/>
    <add key="PPC:Registry:Path" value="HKLM:\Software\Microsoft\Windows\CurrentVersion\Run"/>
    <add key="PPC:Registry:Key" value="FerrettoApp"/>
    <add key="PPC:Ethernet:Machine:FactoryAlias" value="Ethernet-Machine"/>
    <add key="PPC:Ethernet:External:FactoryAlias" value="Ethernet-External"/>
    
    <add key="Installer:DirName" value="installer"/>
    <add key="Installer:FileName" value="Ferretto.VW.Installer.exe" />
    
    <add key="Install:TaskScheduler:Installer" value="Ferretto\Installer"/>
    <add key="Install:Root:Path" value="D:"/>
    <add key="Install:Default:MasUrl" value="http://192.168.0.10:5000"/>
    <add key="Install:Bay1:Ipaddress" value="192.168.0.10"/>
    <add key="Install:Bay2:Ipaddress" value="192.168.0.20"/>
    <add key="Install:Bay3:Ipaddress" value="192.168.0.30"/>
    <add key="Install:Parameter:PpcIpAddress" value="**Set_at_Runtime**" />
    <add key="Install:Parameter:StartupType" value="AutomaticDelayedStart" />

    <add key="Backup:Root:Path" value="F:\Update\Backup"/> 
    <add key="Update:Temp:Path" value="F:\Update\Temp"/>

  </appSettings>
</configuration>
