<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions ="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="./Logs"/>
  <variable name="archiveDirectory" value="./Logs/Archive"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <default-target-parameters
      xsi:type="File"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      autoFlush="false"
      archiveNumbering="Date"
      archiveDateFormat="yyyy-MM-dd"
      archiveEvery="Day"
      maxArchiveFiles="30" />

    <target 
      name="allfile"
      xsi:type="File"
      fileName="${logDirectory}/all.log"
      layout="${longdate}|${level:padding=-5}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message} ${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-all.log"/>


    <target
      name="ErrorLogFile"
      xsi:type="File"
      fileName="${logDirectory}/errors.log"
      layout="${longdate}|${level:padding=-5}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-errors.log" />

  </targets>

  <rules>
    <!-- Final rules first -->

    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
    
    <logger name="*.*" writeTo="allfile" />
    
  </rules>
</nlog>
