<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions ="true">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="F:/Logs"/>
  <variable name="archiveDirectory" value="F:/Logs/Archive"/>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <default-target-parameters
      xsi:type="File"
      keepFileOpen="true"
      openFileCacheTimeout="30"
      autoFlush="false"
      archiveNumbering="DateAndSequence"
      archiveDateFormat="yyyy-MM-dd"
      archiveEvery="Day"
      maxArchiveFiles="30" />

    <target
      name="allfile"
      xsi:type="File"
      fileName="${logDirectory}/vw-inst.log"
      layout="${longdate}|${level:padding=-5}|Thread id: ${threadid:padding=-3:fixedLength=true}|${callsite:padding=-110:fixedLength=true}|${message} ${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-all.log"/>


    <target
      name="ErrorLogFile"
      xsi:type="File"
      fileName="${logDirectory}/vw-inst-errors.log"
      layout="${longdate}|${level:padding=-5}|${callsite}|${message}&#13;&#10;${exception:format=data:exceptionDataSeparator=\r\n}&#13;&#10;${exception:format=tostring}"
      archiveFileName="${archiveDirectory}/{#}-errors.log" />

    <target
      name="Debugger"
      xsi:type="Debugger"
      layout="[${longdate}][${level:padding=-5}] ${message:padding=-70} [${logger}]" />

  </targets>

  <rules>

    <logger name="*" minlevel="Error" writeTo="ErrorLogFile" />
    <logger name="*.*" writeTo="allfile" />
    <logger name="*" minlevel="Debug" writeTo="Debugger" />

  </rules>
</nlog>
