<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="DefaultLanguage" value="en" />
    <add key="SchedulerEndpoint" value="https://localhost:5001" />
    <add key="ImagesPath" value="Images/" />
  </appSettings>
  <connectionStrings>
    <add name="WmsConnectionString" connectionString="data source=.\SQLEXPRESS; initial catalog=FerrettoWmsDb; integrated security=SSPI;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <modules>
    <module assemblyFile="Ferretto.Common.Modules.BLL.dll"
        moduleType="Ferretto.Common.Modules.BLL.BusinessLogicModule, Ferretto.Common.Modules.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="BusinessLogic"
        startupLoaded="false" />
    <module assemblyFile="Ferretto.WMS.Modules.Layout.dll"
        moduleType="Ferretto.WMS.Modules.Layout.LayoutModule, Ferretto.WMS.Modules.Layout, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="Layout"
        startupLoaded="false" >
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.WMS.Modules.Machines.dll"
        moduleType="Ferretto.WMS.Modules.Machines.MachinesModule, Ferretto.WMS.Modules.Machines, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="Machines"
        startupLoaded="false"  >
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
    <module assemblyFile="Ferretto.WMS.Modules.MasterData.dll"
        moduleType="Ferretto.WMS.Modules.MasterData.MasterDataModule, Ferretto.WMS.Modules.MasterData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="MasterData"
        startupLoaded="false" >
      <dependencies>
        <dependency moduleName="BusinessLogic"/>
      </dependencies>
    </module>
  </modules>
</configuration>
