<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Logs"/>
  <targets>
    <target name="MainLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target
            xsi:type="File"
            fileName="${logDirectory}/${shortdate}-WMS-Application.log"
            keepFileOpen="true"
            archiveAboveSize="10240"
            openFileCacheTimeout="30"
            autoFlush="false" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MainLogFile" />
  </rules>
</nlog>
