<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VertimagConfiguration:Root:Path" value="D:" />
    <add key="InvertersParameters:Root:Path" value="D:" />
    <!--InvertersParameters:Root:Path Unused-->
    <add key="VertimagExportConfiguration:Root:Path" value="D:" />
  </appSettings>
</configuration>
