<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VertimagConfiguration:Root:Path" value="E:"/>
    <add key="InvertersParameters:Root:Path" value="E:\Download\Altran\2018\Ferretto\Source\VerticalWarehouses\Utility\Ferretto.VW.InvertersParametersGenerator\Parameters"/>
    <add key="VertimagExportConfiguration:Root:Path" value="E:"/>
  </appSettings>
</configuration>
