<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICalculator" />
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDuplexTest"
          clientBaseAddress="http://localhost:8000/myClient/" >
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/Design_Time_Addresses/CalculatorService/"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalculator"
          contract="Proxy.ICalculator" name="WSHttpBinding_ICalculator">
        <identity>
          <userPrincipalName value="L-IT-13308\ItAdmin" />
        </identity>
      </endpoint>
      <endpoint name ="ServerEndpoint"
          address="http://localhost:12000/DuplexTestUsingConfig/Server"
          bindingConfiguration="WSDualHttpBinding_IDuplexTest"
          binding="wsDualHttpBinding"
         contract="IDuplexTest" />
    </client>
  </system.serviceModel>
</configuration>
