<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <connectionStrings>
    <add name="WmsConnectionString" connectionString="data source=.\SQLEXPRESS; initial catalog=Ferretto_WmsDb_Development; integrated security=SSPI;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
